.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 4rem ;
 
}
body{

  color: #fff;
  background-color: black;
}

.User_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.User_container > div {
  margin: 4rem 1rem 2rem 1rem;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
  border-radius: 60px;
box-shadow: 2px 2px 3px rgb(0, 0, 248);}

small{

  font-style: italic;
}